<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.antifraude.mijnid"
          android:versionName="0.1.0"
          android:versionCode="1">

    <permission
        android:name="nl.antifraude.mijnid.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="nl.antifraude.mijnid.permission.C2D_MESSAGE"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"
        android:maxSdkVersion="19"/>

    <application
        android:theme="@style/Theme.Mijnid"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".app.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.TimelineActivity"/>
        <activity android:name=".app.PassportDetailActivity"/>
        <activity android:name=".app.NotificationActivity"/>

        <provider
            android:authorities="nl.antifraude.mijnid.provider"
            android:name=".provider.Provider"
            android:exported="false"/>

        <!-- GCM components -->

        <receiver
            android:name=".push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="nl.antifraude.mijnid"/>
            </intent-filter>
        </receiver>
        <service android:name=".push.GcmIntentService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>
</manifest>
